*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #888888
  }
  .whole{
    display: flex;
    max-width: 650px;
    width: 100%;
    height: 400px;
    background: #24252C;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgb(11, 15, 70);
  }
  .whole i.button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 36px;
    width: 36px;
    background-color: #47494d;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    color: #4061a8;
    font-size: 15px;
    transition: all 0.3s linear;
    z-index: 100;
    cursor: pointer;
  }
  i.button:active{
    transform: scale(0.94)translateY(-50%);
  }
  i#prev{
    left: 25px;
  }
  i#next{
    right: 25px;
  }
  .image-container {
    width: 100%;
    height: 320px;
    max-width: 500px;
    overflow: hidden;
    font-size: 0;
  }
  
  .image-container .wro {
    display: flex;
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;
  }
  
  .wro img{
    margin: 2px;
    display: inline-block;
    height: 320px;
    width: 500px;
    border-radius: 15px;
    border: 10px solid rgb(14, 19, 34);
    object-fit: cover;
  }

  .img {
    height: 100%;
    width: 100%;
    position: relative;
  }